{% extends 'base.html' %}
{% block body %}
<h1>Weterynarze</h1>
<p>Poniżej przedstawiona została lista weterynarzy dyżurujących w naszej klinice.
  Możesz edytować ich dane klikając w ID,
  wybierając opcję do zmiany a następnie wpisując pożądaną wartość. </p>
<p>Możesz również zarejestrować nowego weterynarza, korzystając z poniższego guzika</p>
<input type="button" id="add_vet" value="Zarejestruj nowego weterynarza">
<div id="add_vet_box">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/vets.js') }}"></script>
</div>
<table>
  <tr>
    {% for header in headers %}
    <th>{{ header }}</th>
    {% endfor %}
  </tr>
  {% for row in table %}
    <tr>
      <td class="vet_id">{{ row[0] }}</td>
      {% for item in row[1:3] %}
      <td>{{ item }}</td>
      {% endfor %}
      {% if row[3] == 'k' %}
        <td>Kontrola</td>
      {% endif %}
      {% if row[3] == 'd' %}
        <td>Dolegliwość</td>
      {% endif %}
      {% if row[3] == 'z' %}
        <td>Zabieg</td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
<select id="remove_id">
  {% for row in table %}
  <option value="{{ row[0] }}">{{ row[0] }}</option>
  {% endfor %}
</select>
<input type="button" id="remove_vet" value="Usuń weterynarza">
<div id="modify_container"></div>
{% endblock %}