{% extends 'base.html' %}
{% block body %}
<h1>Konto</h1>
<p>Możesz edytować dane swojego konta za pomocą poniższych pól</p>
<label>Imię</label>
<input id="name" value="{{ data[0][0] }}">
<label>Nazwisko</label>
<input id="surname" value="{{ data[0][1] }}">
<label>Adres email</label>
<input id="email" value="{{ data[0][2] }}">
<label>Numer telefonu</label>
<input id="phone" value="{{ data[0][3] }}">
<input type="button" id="change_submit" value="Zmień dane">
<div id="result_box"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ url_for('static', filename='scripts/account.js') }}"></script>
{% endblock %}