{% extends 'base.html' %}
{% block body %}
<h1>Konto</h1>
<p>Możesz edytować dane swojego konta za pomocą poniższych pól</p>
<label>Imię</label>
<input id="name" value="{{ data[0][0] }}">
<label>Nazwisko</label>
<input id="surname" value="{{ data[0][1] }}">
<label>Adres email</label>
<input id="email" value="{{ data[0][2] }}">
<label>Numer telefonu</label>
<input id="phone" value="{{ data[0][3] }}">
<input type="button" id="change_submit" value="Zmień dane">
<div id="result_box"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ url_for('static', filename='scripts/account.js') }}"></script>
<script>
    $('#change_submit').on('click', function(){
        $name_val = $('#name').val();
        $surname_val = $('#surname').val();
        $email_val = $('#email').val();
        $phone_val = $('#phone').val();

        data_object = {"name": $name_val,
                       "surname": $surname_val,
                       "email": $email_val,
                       "phone": $phone_val}

        $.ajax({
            url: '/api/account?key=1111',
            method: 'PATCH',
            contentType: 'application/json',
            data: JSON.stringify(data_object)
        }).success(function(data){
            $.ajax({
                url: '/account',
                method: 'GET'
            }).done(function(data){
                $('body').html(data);
                $('#result_box').append("<p>Pomyślnie zaaktualizowano dane</p>")
            });
        }).error(function(data){
            $('#result_box').append("Nie udało się zaaktualizować danych");
        });
    });
</script>
{% endblock %}