{% extends 'base.html' %}
{% block body %}
<h1>Zwierzęta</h1>
<p>Poniżej przedstawiona została lista zwierząt zarejestrowanych w naszej klinice.
  Możesz edytować dane zwierzęcia klikając w ID,
  wybierając opcję do zmiany a następnie wpisując pożądaną wartość. </p>
<p>Możesz również zarejestrować nowe zwierzę, korzystając z poniższego guzika</p>
<input type="button" id="add_pet" value="Zarejestruj nowe zwierzę">
  <div id="add_pet_box">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/pets.js') }}"></script>
  </div>
<table>
  <tr>
    {% for header in headers %}
    <th>{{ header }}</th>
    {% endfor %}
  </tr>
  {% for row in table %}
    <tr>
      <td class="pet_id">{{ row[0] }}</td>
      {% for item in row[1:] %}
      <td>{{ item }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
{% if session['role'] == 'a' %}
  <select id="remove_id">
    {% for row in table %}
      <option value="{{ row[0] }}">{{ row[0] }}</option>
    {% endfor %}
  </select>
  <input type="button" id="remove_pet" value="Usuń zwierzę">
{% endif %}
{% if session['role'] == 'a' %}
  <script src="{{ url_for('static', filename='scripts/pets_admin.js') }}"></script>
{% endif %}
<div id="modify_container"></div>
{% endblock %}

