{% extends 'base.html' %}
{% block body %}
<h1>Wizyty</h1>
<p>Poniżej przedstawiona została lista zaplanowanych wizyt. Możesz zmienić jej termin klikając w ID
a następnie wpisując pożądany termin w formacie RRRR-MM-DD GG-MM-SS.</p>
<p>Możesz również zarejestrować nową wizytę, korzystając z poniższego guzika</p>
<input type="button" id="add_app" value="Zarejestruj nową wizytę">
<div id="register_container">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  {% if session['role']=='a' %}
  <script>
    $('#add_app').on('click', function(){
        if($('#type_select').length == 0) {

          var $type_label = $('<label>Rodzaj wizyty</label>');
          var $type_select = $('<select>')
          .attr('id', 'type_select');

          var $kontrola_option = $('<option value="k">Kontrola</option>');
          var $wizyta_option = $('<option value="w">Wizyta</option>');
          var $zabieg_option = $('<option value="z">Zabieg</option>');
          var $dolegliwosc_option = $('<option value="d">Dolegliwość</option>');

          var $pet_label = $('<label>Zwierzę do zarejestrowania</label>');
          var $pet_input = $('<input>')
          .attr('id', 'pet_input')
          .attr('type', 'text');

          var $scheduled_label = $('<label>Termin wizyty</label>');
          var $scheduled_input = $('<input>')
          .attr('id', 'scheduled_input')
          .attr('type', 'text')
          .attr('placeholder','RRRR-MM-DD HH:MM:SS');

          var $submit_button = $('<input>')
          .attr('type', 'button')
          .attr('id', 'submit_button')
          .attr('value', 'Zarejestruj');

          $('#register_container').append($type_label, $type_select, $pet_label, $pet_input, $scheduled_label,
                          $scheduled_input, $submit_button);

          $('#type_select').append($kontrola_option, $wizyta_option, $zabieg_option, $dolegliwosc_option);

          $('#submit_button').on('click', function(){

            var $type_val = $('#type_select').val();
            var $pet_val = $('#pet_input').val();
            var $scheduled_val = $('#scheduled_input').val();

            $.ajax({
              url: '/api/appointments'.concat('?key=1234'),
              method: 'POST',
              contentType: 'application/json',
              data: JSON.stringify({"pet_id": $pet_val,
                                    "appointment_type": $type_val,
                                    "scheduled": $scheduled_val})
            }).done(function(data){
              $.ajax({
                url: '/appointments',
                method: 'GET',

              }).done(function(data){
                $('body').html(data);
              });
            });
          });
        };
    });
  </script>
  {% endif %}
  {% if session['role']=='u'%}
   <script>
    $('#add_app').on('click', function(){
        if($('#type_select').length == 0) {

          var $type_label = $('<label>Rodzaj wizyty</label>');
          var $type_select = $('<select>')
          .attr('id', 'type_select');

          var $kontrola_option = $('<option value="k">Kontrola</option>');
          var $wizyta_option = $('<option value="w">Wizyta</option>');
          var $zabieg_option = $('<option value="z">Zabieg</option>');
          var $dolegliwosc_option = $('<option value="d">Dolegliwość</option>');

          var $pet_label = $('<label>Zwierzę do zarejestrowania</label>');
          var $pet_select = $('<select>')
          .attr('id', 'pet_select');

          var userPets = {};

          $.ajax({
            url: '/api/user/pets'.concat('?key=1234'),
            method: 'GET',
            dataType: 'json'
          }).done(function(data){
              data.forEach(function(row){
                var $pet_option = $('<option>')
                .attr('value', row[0])
                .text(row[1]);
                $('#pet_select').append($pet_option);
              });
          });

          var $scheduled_label = $('<label>Termin wizyty</label>');
          var $scheduled_input = $('<input>')
          .attr('id', 'scheduled_input')
          .attr('type', 'text')
          .attr('placeholder','RRRR-MM-DD HH:MM:SS');

          var $submit_button = $('<input>')
          .attr('type', 'button')
          .attr('id', 'submit_button')
          .attr('value', 'Zarejestruj');

          $('#register_container').append($type_label, $type_select, $pet_label, $pet_select, $scheduled_label,
                          $scheduled_input, $submit_button);

          $('#type_select').append($kontrola_option, $wizyta_option, $zabieg_option, $dolegliwosc_option);

          $('#submit_button').on('click', function(){

            var $type_val = $('#type_select').val();
            var $pet_val = $('#pet_select').val();
            var $scheduled_val = $('#scheduled_input').val();

            $.ajax({
              url: '/api/appointments'.concat('?key=1234'),
              method: 'POST',
              contentType: 'application/json',
              data: JSON.stringify({"pet_id": $pet_val,
                                    "appointment_type": $type_val,
                                    "scheduled": $scheduled_val})
            }).done(function(data){
              $.ajax({
                url: '/appointments',
                method: 'GET',

              }).done(function(data){
                $('body').html(data);
              });
            });
          });
        };
    });
  </script>
  {% endif %}
</div>
<table>
  <tr>
    {% for header in headers %}
    <th>{{ header }}</th>
    {% endfor %}
  </tr>
  {% for row in table %}
    <tr>
      {% if session['role'] == 'a' %}
        <td class="app_id">{{ row[0] }}</td>
        {% for item in row[1:4] %}
          <td>{{ item }}</td>
        {% endfor %}
        {% if row[4]=='w' %}
          <td>Wizyta</td>
        {% endif %}
        {% if row[4]=='d' %}
          <td>Dolegliwość</td>
        {% endif %}
        {% if row[4]=='z' %}
          <td>Zabieg</td>
        {% endif %}
        {% if row[4]=='k' %}
          <td>Kontrola</td>
        {% endif %}
        <td>{{ row[5] }}</td>
      {% endif %}

      {% if session['role'] == 'u' %}
      <td class="app_id">{{ row[0] }}</td>
        {% for item in row[1:5] %}
          <td>{{ item }}</td>
        {% endfor %}
        {% if row[5]=='w' %}
          <td>Wizyta</td>
        {% endif %}
        {% if row[5]=='d' %}
          <td>Dolegliwość</td>
        {% endif %}
        {% if row[5]=='z' %}
          <td>Zabieg</td>
        {% endif %}
        {% if row[5]=='k' %}
          <td>Kontrola</td>
        {% endif %}
        <td>{{ row[6] }}</td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
{% if session['role'] == 'a' %}
  <select id="remove_id">
    {% for row in table %}
      <option value="{{ row[0] }}">{{ row[0] }}</option>
    {% endfor %}
  </select>
<input type="button" id="remove_app" value="Usuń wizytę">
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
  $('#remove_app').on('click', function(){
    var $app_id = $('#remove_id').val();

    $.ajax({
      url: '/api/appointments/'.concat($app_id, '?key=1234'),
      method: 'DELETE'
    }).done(function(data){
      $.ajax({
        url: '/appointments',
        method: 'GET'
      }).done(function(data){
        $('body').html(data);
      });
    });
  });
</script>
<div id="modify_container">
<script>
  $('.app_id').on('click', function(event){ //ZMIENIC NA KLIKANIE NA ID I POTEM WYBRAC CO SIE CHCE ZMIENIC I PRZESYLANIE ID W AJAX
    if($('#modify_select').length == 0){

      var $clicked_id = $(this).text();

      var $option_select = $("<select>")
      .attr('id', 'modify_select');

      var $scheduled_option = $("<option value='scheduled'>Termin wizyty</option>");

      var $change_line = $('<input>')
      .attr('type', 'text')
      .attr('id', 'change_line')
      .attr('placeholder', 'RRRR-MM-DD HH:MM:SS')

      var $change_submit = $("<input>")
      .attr('type', 'button')
      .attr('id', 'change_submit')
      .attr('value', 'Zmień');

      $('#modify_container').append($option_select);
      $('#modify_select').append($scheduled_option);

      $('#modify_container').append($change_line);

      $('#modify_container').append($change_submit);

      $('#change_submit').on('click', function(){
        var $changed_attr = $('#modify_select').val();
        var $changed_val = $('#change_line').val();

        var data_object = {}
        data_object[$changed_attr] = $changed_val

        $.ajax({
          url: '/api/appointments/'.concat($clicked_id, '?key=1234'),
          method: 'PATCH',
          data: JSON.stringify(data_object),
          contentType: 'application/json'
        }).done(function(data){
          $.ajax({
          url: '/appointments',
          method: 'GET'
          }).done(function(data){
            $('body').html(data);
          });
        });

        $('#change_submit').remove();
        $('#modify_select').remove();
        $('#change_line').remove();
      });
    };
 });
</script>
</div>
{% endblock %}