<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>{{ the_title }}</title>
        <link rel="stylesheet" href="/static/style.css">
        <meta charset="UTF-8">
    </head>
    <body>
    <nav>
        <h1>vetSystem</h1>
            <ul>
                {% if not session['logged_in'] %}
                    <li><a href="/register">Rejestracja</a>
                    <li><a href="/login">Logowanie</a>
                {% else %}
                    <li><a href="/dashboard">Panel główny</a></li>
                    <li><a href="/account">Konto</a></li>
                    <li><a href="/appointments">Wizyty</a></li>
                    <li><a href="/pets">Zwierzęta</a></li>
                    {% if session['role']=='a' %}
                        <li><a href="/stock">Zasoby</a></li>
                        <li><a href="/vets">Weterynarze</a></li>
                        <li><a href="/users">Uzytkownicy</a></li>
                    {% endif %}
                    <li><a href="/logout">Wyloguj</a></li>
                {% endif %}
            </ul>
    </nav>
    <section class="content">
    {% block body %}

    {% endblock %}
    </section>
    </body>
</html>
