<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>{{ the_title }}</title>
        <link rel="stylesheet" href="/static/style.css">
        <meta charset="UTF-8">
    </head>
    <body>
    <nav>
        <h1>vetSystem</h1>
            <ul>
                {% if not session['logged_in'] %}
                    <li><a href="{{ url_for('app_bp.register') }}">Rejestracja</a>
                    <li><a href="{{ url_for('app_bp.home') }}">Logowanie</a>
                {% else %}
                    <li><a href="{{ url_for('app_bp.account_page') }}">Konto</a></li>
                    <li><a href="{{ url_for('app_bp.appointments') }}">Wizyty</a></li>
                    <li><a href="{{ url_for('app_bp.pets') }}">Zwierzęta</a></li>
                    {% if session['role']=='a' %}
                        <li><a href="{{ url_for('app_bp.stock') }}">Zasoby</a></li>
                        <li><a href="{{ url_for('app_bp.vet_monitor') }}">Weterynarze</a></li>
                        <li><a href="{{ url_for('app_bp.users') }}">Uzytkownicy</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Wyloguj</a></li>
                {% endif %}
            </ul>
    </nav>
    <section class="content">
    {% block body %}

    {% endblock %}
    </section>
    </body>
</html>
