{% extends 'base.html' %}
{% block body %}
<h1>Użytkownicy</h1>
<p>Poniżej przedstawiona została lista użytkowników systemu. Możesz zmienić ich dane klikając na ID,
  wybierając opcję do zmiany a następnie wpisując pożądaną wartość. </p>
<p>Możesz również zarejestrować nowego weterynarza, korzystając z poniższego guzika</p>
<table>
  <tr>
    {% for header in headers %}
    <th>{{ header }}</th>
    {% endfor %}
  </tr>
  {% for row in table %}
    <tr>
      <td class="user_id">{{ row[0] }}</td>
      {% for item in row[1:] %}
      <td>{{ item }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
<select id="remove_id">
  {% for row in table %}
  <option value="{{ row[0] }}">{{ row[0] }}</option>
  {% endfor %}
</select>
  <input type="button" id="remove_user" value="Usuń użytkownika">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    $('#remove_user').on('click', function(){
      var $user_id = $('#remove_id').val();

      $.ajax({
        url: '/api/users/'.concat($user_id, '?key=1234'),
        method: 'DELETE'
      }).done(function(data){
        $.ajax({
          url: '/users',
          method: 'GET'
        }).done(function(data){
          $('body').html(data);
        });
      });
    });
  </script>
<div id="modify_container">
<script>
  $('.user_id').on('click', function(){
    if($('#option_select').length == 0){

      var $clicked_id = $(this).text();

      var $option_select = $("<select>")
      .attr('id', 'option_select');

      var $name_option = $("<option value='name'>Imie</option>");
      var $surname_option = $("<option value='surname'>Nazwisko</option>");
      var $email_option = $("<option value='email'>Adres e-mail</option>");
      var $phone_option = $("<option value='phone'>Numer telefonu</option>");

      var $change_line = $('<input>')
      .attr('type', 'text')
      .attr('id', 'change_line');

      var $change_submit = $("<input>")
      .attr('type', 'button')
      .attr('id', 'change_submit')
      .attr('value', 'Zmień');

      $('#modify_container').append($option_select);
      $('#option_select').append($name_option);
      $('#option_select').append($surname_option);
      $('#option_select').append($email_option)

      $('#modify_container').append($change_line);

      $('#modify_container').append($change_submit);

      $('#change_submit').on('click', function(){
        var $changed_attr = $('#option_select').val();
        var $changed_val = $('#change_line').val();

        var data_object = {};
        data_object[$changed_attr] = $changed_val;

        $.ajax({
          url: '/api/users/'.concat($clicked_id, '?key=1234'),
          method: 'PATCH',
          data: JSON.stringify(data_object),
          contentType: 'application/json'
        }).done(function(data){
          $.ajax({
          url: '/users',
          method: 'GET'
          }).done(function(data){
            $('body').html(data);
          });
        });

        $('#change_submit').remove();
        $('select').remove();
        $('#change_line').remove();
      });
    };
 });
</script>
</div>
{% endblock %}