{% extends 'base.html' %}
{% block body %}
<h1>Wizyty</h1>
<p>Poniżej przedstawiona została lista zaplanowanych wizyt. Możesz zmienić jej termin klikając w ID
a następnie wpisując pożądany termin w formacie RRRR-MM-DD GG-MM-SS.</p>
<p>Możesz również zarejestrować nową wizytę, korzystając z poniższego guzika</p>
<input type="button" id="add_app" value="Zarejestruj nową wizytę">
<div id="register_container">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  {% if session['role']=='a' %}
  <script src="{{ url_for('static', filename='scripts/appointments_admin.js') }}"></script>
  {% endif %}
  {% if session['role']=='u'%}
   <script src="{{ url_for('static', filename='scripts/appointments_user.js') }}"></script>
  {% endif %}
</div>
<table>
  <tr>
    {% for header in headers %}
    <th>{{ header }}</th>
    {% endfor %}
  </tr>
  {% for row in table %}
    <tr>
      {% if session['role'] == 'a' %}
        <td class="app_id">{{ row[0] }}</td>
        {% for item in row[1:4] %}
          <td>{{ item }}</td>
        {% endfor %}
        {% if row[4]=='w' %}
          <td>Wizyta</td>
        {% endif %}
        {% if row[4]=='d' %}
          <td>Dolegliwość</td>
        {% endif %}
        {% if row[4]=='z' %}
          <td>Zabieg</td>
        {% endif %}
        {% if row[4]=='k' %}
          <td>Kontrola</td>
        {% endif %}
        <td>{{ row[5] }}</td>
      {% endif %}

      {% if session['role'] == 'u' %}
      <td class="app_id">{{ row[0] }}</td>
        {% for item in row[1:5] %}
          <td>{{ item }}</td>
        {% endfor %}
        {% if row[5]=='w' %}
          <td>Wizyta</td>
        {% endif %}
        {% if row[5]=='d' %}
          <td>Dolegliwość</td>
        {% endif %}
        {% if row[5]=='z' %}
          <td>Zabieg</td>
        {% endif %}
        {% if row[5]=='k' %}
          <td>Kontrola</td>
        {% endif %}
        <td>{{ row[6] }}</td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
{% if session['role'] == 'a' %}
  <select id="remove_id">
    {% for row in table %}
      <option value="{{ row[0] }}">{{ row[0] }}</option>
    {% endfor %}
  </select>
<input type="button" id="remove_app" value="Usuń wizytę">
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ url_for('static', filename='scripts/appointments.js') }}"></script>
<div id="modify_container"></div>
{% endblock %}